%h1 GTP-3.5 turbo model
= form_with(model: @question) do |form|
  .row
    .col-md-10
      .form-outline
        = form.text_field :text, class: 'form-control form-control-lg bg-info', required: true
        = form.label :text, class: 'form-label'
    .col-md-2
      = form.submit 'Ask', class: 'btn btn-primary btn-lg'

.row.mt-5
  %hr
  - @questions.each do |question|
    %p= question.text
    %p= question.response
    %hr
